html,body { height: 100%; }

body{
	display: -ms-flexbox;
	/* display: -webkit-box; */
	/* display: flex; */
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form{
	padding-top: 20px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:300; }

.button {
    cursor: pointer;
    width: 100%;
    padding: .6rem 0;
    border-radius: .5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
}

.form-group input {
	width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: var(--gray);
    border-radius: .5rem;
    border: 0.125rem solid var(--white);
    outline: none;
}

.btn{
	font-size: 14px;
	margin-top:20px;
}

.login-form{ 
	width:360px;
	margin:20px;
	padding: 1rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

span{
	font-size:14px;
}