{% extends 'base_front.html.twig' %}
{% block title %}AMT - Inscription
{% endblock %}
{% block otherStyle %}
	<link rel="stylesheet" href="{{ asset ('FrontOffice/css/style2.css')}}">
	<link rel="stylesheet" href="{{ asset ('FrontOffice/css/style3.css')}}">
{% endblock %}
{% block carousel %}
	<div style=" height:40px;">&nbsp;</div>
	<center>
		<div class="card login-form">
			<div class="card-body">
				<h3 class="card-title text-center">Réinitialisation de votre mot de passe</h3>

				<div class="card-text">
					<form method="post">
						<div class="form-group">
							<label for="exampleInputEmail1">Ecrivez votre nouveau mot de passe</label>
							<input type="password" name="password" id="pass" placeholder="Nouveau mot de passe">
							<input type="hidden" name="token" value="{{ token }}">
						</div>
						<br>
						<button type="submit" class="button">Valider</button>
					</form>
				</div>
			</div>
		</div>
	</center>
	<div style="height:30px;">&nbsp;</div>
{% endblock %}

{# 
{% block carousel %}
	<h2>Entrez votre nouveau mot de passe </h2>

                        <form  method="post">
                            <h6>mot de passe</h6>
                            <input type="password" name="password" id="pass">
                            <input type="hidden" name="token" value="{{ token }}">
                            <button type="submit" class="btn btn-success" style="background-color: #1c294e ">Valider</button>
                        </form>
{% endblock %} #}
